absl-py
astunparse
cached-property
cachetools
certifi
chardet
click
colorama
cycler
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
Keras
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
omniglot
opencv-python
opt-einsum
Package
Pillow
pip
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
scipy
setuptools
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
torch
torchvision
typing-extensions
urllib3
Werkzeug
wheel
wrapt
zipp
